body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  .container {
    display: flex;

  }

  .btn {
    background: url("../images/cloud-arrow-up.svg") no-repeat center;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

/*XSmall devices (landscape phones, 300px and up)*/
@media (min-width: 320px) {
  .accordion{
    width: 320px;
  }
}

/*XSmall devices (landscape phones, 300px and up)*/
@media (min-width: 375px) {
  .accordion{
    width: 375px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 425px) {
  .accordion{
    width: 425;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .accordion{
    width: 768px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 1024px) {
  .accordion{
    width: 1024px;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .accordion{
    width: 1200px;
  }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  .accordion{
    width: 1400px;
  }
}